.utente {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    border-style: dashed;
    border: 1 solid black;
    background-color: darkgrey;
}

body {
    background-color: Lavender;
}