body
{
    background-color: darksalmon; 
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 50px;
}

input[type=text], [type=submit]
{
    border: 2px solid black;
    border-radius: 4px;
    font-size: 25px;
    margin: 10px;
}

input[type=submit]
{
    background-color: orangered;
    color: white;
    font-size: 40px;
    margin: 10px;
    width: 70px;
}